{:fermentables [{:fermentable {:amount           "2.27"
                               :yield            "78.0"
                               :supplier         "Fussybrewer Malting"
                               :color            "3.0"
                               :name             "Pale Malt (2 row) UK"
                               :moisture         "4.0"
                               :type             "Grain"
                               :notes            "All purpose base malt for English styles"
                               :protein          "10.2"
                               :origin           "United Kingdom"
                               :coarse-fine-diff 1.5
                               :version          "1"
                               :max-in-batch     "100.0"
                               :diastatic-power  45.0}}
                {:fermentable {:amount           "0.91"
                               :yield            "70.0"
                               :supplier         "Fussybrewer Malting"
                               :color            "2.0"
                               :name             "Barley, Flaked"
                               :moisture         "9.0"
                               :type             "Grain"
                               :notes            "Adds body to porters and stouts, must be mashed"
                               :protein          "13.2"
                               :origin           "United Kingdom"
                               :coarse-fine-diff 1.5
                               :version          "1"
                               :max-in-batch     "20.0"
                               :recommend-mash   true
                               :diastatic-power  "0.0"}}
                {:fermentable {:amount           "0.45"
                               :yield            "78.0"
                               :supplier         "Fussybrewer Malting"
                               :color            "500.0"
                               :name             "Black Barley"
                               :moisture         "5.0"
                               :type             "Grain"
                               :notes            "Unmalted roasted barley for stouts, porters"
                               :protein          "13.2"
                               :origin           "United Kingdom"
                               :coarse-fine-diff 1.5
                               :version          "1"
                               :max-in-batch     "10.0"
                               :diastatic-power  "0.0"}}]}
