{:recipes [{:recipe {:age-temp            "17.0"
                     :carbonation         "2.1"
                     :date                "3 Jan 04"
                     :fermentation-stages "2"
                     :mash                {:name       "Single Step Infusion, 68 C"
                                           :version    "1"
                                           :grain-temp "22.0"
                                           :mash-steps [{:mash-step {:name          "Conversion Step, 68C"
                                                                     :version       "1"
                                                                     :type          "Infusion"
                                                                     :step-temp     "68.0"
                                                                     :step-time     "60.0"
                                                                     :infuse-amount "10.0"}}]}
                     :age                 "24.0"
                     :carbonation-used    "Kegged"
                     :fg                  "1.012"
                     :name                "Dry Stout"
                     :boil-size           "20.82"
                     :miscs               [{:misc {:name    "Irish Moss"
                                                   :version "1"
                                                   :type    "Fining"
                                                   :use     "Boil"
                                                   :time    15.0
                                                   :amount  "0.010"
                                                   :notes   "Used as a clarifying agent during the last few minutes of the boil"}}]
                     :type                "All Grain"
                     :og                  "1.036"
                     :hops                [{:hop {:name    "Goldings, East Kent"
                                                  :version "1"
                                                  :alpha   "5.0"
                                                  :amount  "0.0638"
                                                  :use     "Boil"
                                                  :time    "60.0"
                                                  :notes   "Great all purpose UK hop for ales, stouts, porters"}}]
                     :style               {:category        "Stout"
                                           :carb-min        "1.6"
                                           :fg-max          "1.011"
                                           :og-min          "1.035"
                                           :name            "Dry Stout"
                                           :type            "Ale"
                                           :style-letter    "A"
                                           :abv-min         "3.2"
                                           :fg-min          "1.007"
                                           :category-number "16"
                                           :carb-max        "2.1"
                                           :ibu-max         "50.0"
                                           :notes           "Famous Irish Stout.  Dry, roasted, almost coffee like flavor.  Often soured with pasteurized sour beer.  Full body perception due to flaked barley, though starting gravity may be low.  Dry roasted flavor."
                                           :og-max          "1.050"
                                           :color-min       "35.0"
                                           :abv-max         "5.5"
                                           :version         "1"
                                           :color-max       "200.0"
                                           :style-guide     "BJCP"
                                           :ibu-min         "30.0"}
                     :waters              [{:water {:amount      "20.0"
                                                    :name        "Burton on Trent, UK"
                                                    :sulfate     "725.0"
                                                    :magnesium   45.0
                                                    :calcium     "295.0"
                                                    :bicarbonate "300.0"
                                                    :notes       "Use for distinctive pale ales strongly hopped.  Very hard water accentuates the hops flavor. Example: Bass Ale"
                                                    :sodium      "55.0"
                                                    :ph          "8.0"
                                                    :chloride    "25.0"
                                                    :version     "1"}}]
                     :boil-time           "60.0"
                     :taste-notes         "Nice dry Irish stout with a warm body but low starting gravity much like the famous drafts."
                     :fermentables        [{:fermentable {:amount           "2.27"
                                                          :yield            "78.0"
                                                          :supplier         "Fussybrewer Malting"
                                                          :color            "3.0"
                                                          :name             "Pale Malt (2 row) UK"
                                                          :moisture         "4.0"
                                                          :type             "Grain"
                                                          :notes            "All purpose base malt for English styles"
                                                          :protein          "10.2"
                                                          :origin           "United Kingdom"
                                                          :coarse-fine-diff 1.5
                                                          :version          "1"
                                                          :max-in-batch     "100.0"
                                                          :diastatic-power  45.0}}
                                           {:fermentable {:amount           "0.91"
                                                          :yield            "70.0"
                                                          :supplier         "Fussybrewer Malting"
                                                          :color            "2.0"
                                                          :name             "Barley, Flaked"
                                                          :moisture         "9.0"
                                                          :type             "Grain"
                                                          :notes            "Adds body to porters and stouts, must be mashed"
                                                          :protein          "13.2"
                                                          :origin           "United Kingdom"
                                                          :coarse-fine-diff 1.5
                                                          :version          "1"
                                                          :max-in-batch     "20.0"
                                                          :recommend-mash   true
                                                          :diastatic-power  "0.0"}}
                                           {:fermentable {:amount           "0.45"
                                                          :yield            "78.0"
                                                          :supplier         "Fussybrewer Malting"
                                                          :color            "500.0"
                                                          :name             "Black Barley"
                                                          :moisture         "5.0"
                                                          :type             "Grain"
                                                          :notes            "Unmalted roasted barley for stouts, porters"
                                                          :protein          "13.2"
                                                          :origin           "United Kingdom"
                                                          :coarse-fine-diff 1.5
                                                          :version          "1"
                                                          :max-in-batch     "10.0"
                                                          :diastatic-power  "0.0"}}]
                     :efficiency          "72.0"
                     :version             "1"
                     :yeasts              [{:yeast {:min-temperature "16.7"
                                                    :amount          "0.250"
                                                    :name            "Irish Ale"
                                                    :max-temperature "22.2"
                                                    :type            "Ale"
                                                    :best-for        "Irish Dry Stouts"
                                                    :laboratory      "Wyeast Labs"
                                                    :attenuation     "73.0"
                                                    :notes           "Dry, fruity flavor characteristic of stouts.  Full bodied, dry, clean flavor."
                                                    :flocculation    "Medium"
                                                    :form            "Liquid"
                                                    :version         "1"
                                                    :product-id      "1084"}}]
                     :rating              "41"
                     :brewer              "Brad Smith"
                     :batch-size          "18.93"}}]}
