{:style {:category        "Stout"
         :carb-min        "1.6"
         :fg-max          "1.011"
         :og-min          "1.035"
         :name            "Dry Stout"
         :type            "Ale"
         :style-letter    "A"
         :abv-min         "3.2"
         :fg-min          "1.007"
         :category-number "16"
         :carb-max        "2.1"
         :ibu-max         "50.0"
         :notes           "Famous Irish Stout.  Dry, roasted, almost coffee like flavor.  Often soured with pasteurized sour beer.  Full body perception due to flaked barley, though starting gravity may be low.  Dry roasted flavor."
         :og-max          "1.050"
         :color-min       "35.0"
         :abv-max         "5.5"
         :version         "1"
         :color-max       "200.0"
         :style-guide     "BJCP"
         :ibu-min         "30.0"}}
