*.DS_Store
*.class
*.iml
*.jar
*.vscode
._*
.clj-kondo/.cache/
.cpcache/
.hg/
.hgignore
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.lsp/
.nrepl-port
.rebel_readline_history
.repl
.yagni
/checkouts
/classes
/lib
/node_modules
/out
/resources/public/js/compiled/**
/resources/test/**
/target
doo-index.html
fermentables.csv
figwheel_server.log
hops.csv
pom.xml
pom.xml.asc
sample.edn
sample.json
sample.xml
yeast.csv
