{:version      {:major 2
                :minor 4
                :patch 0}
 :version-type :semver3
 :changes      {:added      []
                :changed    []
                :deprecated []
                :removed    []
                :fixed      ["Added the `<orgnization>` tag to the pom.xml file."]
                :security   []}
 :timestamp    "2024-09-21T16:16:44.542079848Z"}
