{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Changelog" {:file "CHANGELOG.md"}]
                   ["Community" {}
                    ["Contributing" {:file "CONTRIBUTING.md"}]
                    ["Code of Conduct" {:file "CODE_OF_CONDUCT.md"}]
                    ["Security Policy" {:file "SECURITY.md"}]]
                   ["Functionality" {}
                    ["Specs" {:file "doc/specs.md"}
                     ["Equipment" {:file "doc/specs/equipment.md"}]
                     ["Fermentables" {:file "doc/specs/fermentables.md"}]
                     ["Hops" {:file "doc/specs/hops.md"}]
                     ["Mash" {:file "doc/specs/mash.md"}]
                     ["Miscs" {:file "doc/specs/miscs.md"}]
                     ["Recipes" {:file "doc/specs/recipes.md"}]
                     ["Styles" {:file "doc/specs/styles.md"}]
                     ["Water" {:file "doc/specs/water.md"}]
                     ["Yeast" {:file "doc/specs/yeast.md"}]]]
                   ["Adopted Patterns" {}
                    ["Symbolic Keywords" {:file "doc/patterns/symbolic_keywords.md"}]]
                   ["Developing" {}
                    ["Required Tooling" {:file "doc/developing/001_required_tooling.md"}]
                    ["Managed Tooling" {:file "doc/developing/002_managed_tooling.md"}]
                    ["Contribution Guidelines" {:file "doc/developing/003_contribution_guidelines.md"}]]]}
